[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

keras = "*"
scipy = "*"
numpy = "*"
sounddevice = "*"
soundfile = "*"
tensorflow = "*"
plotly = "*"
chart-studio = "*"


[dev-packages]
